@charset "UTF-8";

body{
    background-color: rgba(24, 21, 21, 0.979);
}
p{
    color: rgba(236, 231, 231, 0.856);
}
    
h1{
    color: rgba(236, 231, 231, 0.856);
}
h2{
    color: rgba(236, 231, 231, 0.856);
}

img{
    border-radius: 15px;
}