@charset "UTF-8";

body{
    background-color: rgba(14, 12, 12, 0.979);
}
p{
    color: rgba(236, 231, 231, 0.856);
}
    
h1{
    color: rgba(236, 231, 231, 0.856);
}
h2{
    color: rgba(236, 231, 231, 0.856);
}
a{
    color: rgba(58, 57, 133, 0.856);
}